{% extends "base.html" %}
{% block content %}
<ul>
    <h1>Frequently Asked Questions</h1>
    <li>
        <h3>Q: what should a correct link look like?</h3>
        <div>A: https://yadi.sk/d/SomE-CharaCters</div>
        <div>or https://disk.yandex.ru/d/soMECharACTerS</div><br>
    </li>
    <li>
        <h3>Q: how to allow browser to open pop-up windows?</h3>
        <div>
            A: <a href="https://www.isc.upenn.edu/how-to/configuring-your-web-browser-allow-pop-windows">First found link</a><br>
            <a href="https://kb.unca.edu/kb/allowing-pop-ups-in-windows-web-browsers">Second link</a><br>
            or just search in Yandex or Google.
        </div><br>
    </li>
    <li>
        <h3>Q: why design is so awful?</h3>
        <div>A: I didn't study frontend well enough.:)</div><br>
    </li>
    <li>
        <h3>Q: how long did it take to create this project?</h3>
        <div>A: about 6 hours.</div>
    </li>
</ul>
{% endblock %}